.container {
  padding: 48px 16px;
  background: #fbfcf8;
}
.title {
  font-weight: 600;
  font-size: 40px;
  color: var(--black);
  margin-bottom: 16px;
  text-align: left;
}

.tabList {
  display: flex;
  justify-content: left;
  gap: 38px;
  margin-bottom: 16px;
  list-style-type: none;
  padding-left: 0;
}

.tab {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  outline: none;
}

.selectedTab {
  border-color: var(--black);
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .tab {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 46px 108px;
  }
}
