.burgerBtn,
.closeBtn {
    display: block;
}

.burgerBtn {
    background: none;
    border: none;
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.burgerIcon {
    width: 32px;
    height: 32px;
    fill: #fff;
    stroke: #fff;
}

.closeBtn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.closeIcon {
    width: 32px;
    height: 32px;
    stroke: #fff;
    stroke-width: 1.3;
    stroke-linecap: round;
    fill: none;
    border: none;
}

.desktopNav {
    display: none;
}

@media (min-width: 768px) {

    .burgerBtn,
    .closeBtn {
        display: none;
    }
}