.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Styles for Mobile devices */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 393px;
  /* padding: 0 16px; */
  margin: 0 auto;
}

.containerFilterRecList {
  margin-top: 48px;
  margin-bottom: 48px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .containerFilterRecList {
    /* padding: 0 32px; */
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .containerFilterRecList {
    padding: 0 107px;
  }
}
