.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.uploadPhoto {
  font-size: 24px;
  justify-content: left;
}
.uploadLabel {
  width: 100%;
  height: 100%;
  border: 2px dashed #ccc;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.uploadLabel:hover {
  border-color: #666;
}

.input {
  display: none; /* ховаємо стандартний інпут */
}
