.invalid {
  border: 1.5px solid #c80000 !important;
  color: #c80000;
}

.error {
  font-size: 12px;
  font-weight: 600;
  color: #c80000;
  margin-top: 4px;
  font-family: "Montserrat", sans-serif;
}

/* ======================= */
/* 📱 Mobile styles (base) */
/* ======================= */

.option {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldPhoto {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upload {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 361px;
  height: 383px;
}
.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.uploadLabel {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #9f9f9f;
  border-radius: 16px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.uploadLabel:hover {
  border-color: #666;
}

.inputPhoto {
  display: none;
}

.uploadImage {
  color: #070707;
  stroke-width: 1px;
  stroke: currentColor;
  width: 82px;
  height: 82px;
  fill: transparent;
}

.deleteImage {
  color: #070707;
  stroke-width: 1px;
  stroke: currentColor;
  width: 24px;
  height: 28px;
  fill: transparent;
}

.titleSection {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  justify-content: left;
  margin-bottom: 16px;
}

.titlePart {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
}

.fieldForm {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 18px;
  flex-direction: row;
}

.fieldItem {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-weight: 400;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  color: #000;
}

.input:focus,
.inputTitle:focus,
.textarea:focus {
  border: 1.5px solid #9b6c43;
  border-radius: 8px;
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  background: #fff;
  cursor: text;
  outline: none;
}

.inputTitle {
  width: 100%;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
}

.input::placeholder,
.inputTitle::placeholder,
.textarea::placeholder,
.field::placeholder {
  font-size: 18px;
  color: #595d62;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: #9f9f9f;
}

.inputSuffix {
  position: absolute;
  right: 10px;
  font-size: 14px;
  color: #666;
  pointer-events: none;
}

.textarea {
  width: 100%;
  min-height: 144px;
  padding: 12px;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .ingredients {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .ingredients {
    width: 809px;
  }
}

.disabled {
  color: #aaa;
  pointer-events: none;
  /* вимикає кліки і hover */
  cursor: default;
  background: transparent !important;
}

.inputsRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addBtn {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #9b6c43;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
}

.addBtn:hover,
.addBtn:focus {
  background-color: #6d554b;
}

.addBtn:active {
  background: #9b6c43;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.ingredientsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  table-layout: fixed;
}

.ingredientsTable th,
.ingredientsTable td {
  text-align: center;
  border-bottom: 1px solid #c5c5c5;
  padding: 16px 0px;
  width: 100%;
}

.ingredientsTable th {
  font-weight: 600;
}

.ingredientsTable button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.ingredientsTable thead {
  display: none;
}

.ingredientsHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #c5c5c5;
  padding: 16px 0;
  font-weight: 600;
  text-align: left;
  margin: 0;
  justify-content: space-between;
}

.ingredientsHeader .col {
  flex: 1;
}

.ingredientsHeader span {
  width: 100%;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.selectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px 40px 10px 12px;
  color: #595d62;
  background-color: #fff;
  /* фон основного select */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.selectWrapper::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  background-size: contain;
  pointer-events: none;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
  stroke-width: 1px;
  stroke: #000;
  fill: transparent;
}

.submitBtn {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  margin-top: 40px;
  background: #9b6c43;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: #6d554b;
}

.submitBtn:active {
  background: #9b6c43;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 262px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownItem {
  border-radius: 4px;
  padding: 8px 8px 8px 12px;
  cursor: pointer;
}

.dropdownItem:first-child {
  background-color: #d3d3d3;
  font-weight: 400;
}

.dropdownItem:hover {
  background: #f0f0f0;
  /* або твій колір з макету */
}

@media only screen and (min-width: 768px) {
  .titleSection {
    font-size: 32px;
    margin-top: 24px;
  }

  .upload {
    margin-top: 12px;
    max-width: 704px;
  }

  .uploadLabel {
    aspect-ratio: 2 / 1;
  }

  .titlePart {
    margin-top: 32px;
  }

  .fieldGroup {
    gap: 24px;
  }

  .inputsRow {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    display: grid;
    grid-template-columns: 431px 249px;
    cursor: pointer;
  }

  .addBtn {
    width: 249px;
    margin-left: auto;
    display: block;
    border-radius: 8px;
    padding: 8px;
    height: 36px;
  }

  .ingredientsTable {
    table-layout: auto;
    width: 431px;
  }

  .ingredientsTable th,
  .ingredientsTable td {
    padding: 8px 0px;
    width: 431px;
    text-align: left;
  }

  .ingredientsTable thead {
    display: table-header-group;
  }

  .ingredientsHeader {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .form {
    flex-direction: row-reverse;
    gap: 24px;
  }

  .titleSection {
    margin-top: 40px;
  }

  .upload {
    max-width: 391px;
    max-height: 374px;
  }

  .uploadLabel {
    aspect-ratio: 1 / 1;
  }

  .uploadImage {
    width: 163px;
    height: 136px;
  }

  .fieldPhoto {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fieldGroup {
    margin-bottom: 32px;
  }

  .fieldForm {
    max-width: 809px;
    flex: 2;
  }

  .inputsRow {
    grid-template-columns: 497px 288px;
  }

  .submitBtn {
    margin-top: 72px;
  }

  .addBtn {
    padding: 4px 8px;
    width: 247px;
    height: 23px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }

  .ingredientsTable {
    width: 332px;
  }

  .ingredientsTable th,
  .ingredientsTable td {
    width: 332px;
  }
}


  .ingredientsTable {
    width: 332px;
  }

  .ingredientsTable th,
  .ingredientsTable td {
    width: 332px;
  }
}