.errorContainer {
  text-align: center;
  padding: 50px 20px;
}

.errorTitle {
  font-size: 3rem;
  font-weight: bold;
  color: #d32f2f;
}

.errorMessage {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #444;
}

.backButton {
  display: inline-block;
  margin: 32px 16px 79px 16px;
  width: 361px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #9b6c43;
  color: #fff;
  border-radius: 16px;
  text-decoration: none;
  transition: background 0.3s;
}

.backButton:hover {
  background-color: #4e342e;
}
