.navGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    font-size: 1rem;
    font-weight: 600;
}

.link {
    color: #fff;
    height: 24px;
    position: relative;
    text-decoration: none;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
}

.link.active {
    color: #f0f0f0;
    /* Легший відтінок для контрасту */
}

.link.active::after {
    width: 100%;
}

.link:hover::after,
.link:focus::after,
.link:focus-visible::after {
    width: 100%;
}

.linkBtn {
    background-color: #9b6c43;
    color: white;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    width: 100%;
    text-align: center;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    outline: none;
}

.linkBtn:hover {
    background-color: #6d554b;
}

.linkBtn:focus {
    background-color: #9b6c43;
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px white;
}

.linkBtn.active {
    background-color: #b5895f;
    /* Колір для активного стану кнопки */
    color: #fff;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.userInfo {
    align-self: center;
}

@media (min-width: 768px) {
    .navGroup {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: nowrap;
        font-size: 0.875rem;
    }

    .linkBtn,
    .link {
        white-space: nowrap;
    }

    .userInfo {
        margin-left: auto;
        align-self: center;
    }
}