.filtersSection {
    margin-bottom: 16px;
    position: relative;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.filtersContainerWrapper {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 32px;
}

.recipesCount {
    font-weight: 600;
    font-size: 18px;
}

.toggleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    gap: 4px;
    background: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
}

.filtersIcon {
    width: 24px;
    height: 24px;
    fill: white;
    stroke: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetButton {
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-right: auto;
    font-family: var(--font-family);
    position: relative;
}

.resetButton::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
}

.filtersContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filtersContent.hidden {
    display: none;
}

.selectContainer {
    margin-bottom: 16px;
}

.noRecipesContainer {
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    border-radius: 16px;
    padding: 40px 24px;
    background: #faf3e0;
}

.noRecipesTitle {
    font-weight: 600;
    font-size: 24px;
    max-width: 382px;
}

.noRecipesResetBtn {
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 48px;
    background-color: inherit;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.noRecipesResetBtn:hover,
.noRecipesResetBtn:focus {
    border: 1px solid #9b6c43;
    background-color: #9b6c43;
    color: white;
}

@media only screen and (min-width: 768px) {
    .noRecipesContainer {
        max-width: 522px;
    }
}

@media only screen and (min-width: 1440px) {
    .noRecipesContainer {
        max-width: 598px;
    }

    .filtersContainerWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .toggleBtn {
        display: none;
    }

    .filtersContent.hidden,
    .filtersContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .selectContainer {
        margin-bottom: 0;
        margin-left: 16px;
    }

    .resetButton {
        order: 1;
    }

    .selectContainer:first-child {
        order: 2;
    }

    .selectContainer:last-of-type {
        order: 3;
    }
}