.btn {
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    padding: 16px;
    width: 100%;
    max-width: 372px;
    background-color: #9B6C43;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-top: 24px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6d554b;
}

.button:focus {
    background-color: #9b6c43;
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.container {
    text-align: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .btn {
        width: 338px;
    }
}

@media only screen and (min-width: 1440px) {
    .btn {
        width: 289px;
    }
}